/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #000000;
  background: url(images.jpeg);
  background-size: 1111px 110px;
  background-repeat: no-repeat;

}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  
}
.search{
  margin: auto;
}
.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
    
  }
}
body{
  background-color: rgb(209, 230, 248);
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}


.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
.p-4 {
  padding: 1.5rem!important;
  background-color: rgb(185, 215, 224);
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  background-color: rgb(185, 215, 224);
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  background-color: rgb(185, 215, 224);
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #30475e;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  background-color: rgb(185, 215, 224);
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
